body {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 1600px;
  margin-bottom: 50px;
  position: relative;
  
}
main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
blockquote, header {
  font-family: 'Abril Fatface';
}
.section {
  font-family: 'Josefin Sans';
}
section {
  font-weight: bold;
  font-family: 'Merriweather';
}
track. {
  font-family: 'Josefin Sans';
}
.caps {
  text-transform: uppercase;
}
#firstparagraph1 {
  font-family: 'Josefin Sans';
  font-size: 18px;
  font-weight: bold; 
}
blockquote {
  display: flex;
  flex-grow: 1;
  margin-left: 0;
  background: #696969;
  text-align:justify;
  justify-content: center;
  color: white;
  font-size: 25px;
}
  blockquote::before {
  content: '”';
  color: white;
  font-size: 80px;
  font-weight: bold;
}
#italic {
  font-style: italic;  
}
h4, h5 {
  margin: 0;
}
.section{
  margin-top: 10px;
  margin-bottom: 10px;
}
header {
  position: relative;
}
#myname {
  position: absolute;
  top: 300px;
  left: 400px;
  font-size: 30px;
}
#Anakin {
  position: absolute;
  top: 290px;
  left: 400px;
  font-size: 80px;
}
#border {
  border-top: 3px solid black;
  padding: 20px;
  width: 900px;
  margin-top: 30px;
  
}